<nav class="navbar navbar-light bg-light">
    <div class="container-fluid d-flex justify-content-between flex-nowrap">
        <div class="d-flex">
            <button class="btn" type="button" (click)="isShow()">
                <i class="fas fa-bars"></i>
            </button>
            <a class="navbar-brand ms-2" href="#">
                <img class="navbar-brand"
                    src="https://upload.wikimedia.org/wikipedia/commons/b/b8/YouTube_Logo_2017.svg" width="90" />
            </a>
        </div>

        <div class="col-md-8">
            <div class="d-flex">
                <input #share (keyup.enter)="shared(share.value)" 
                       class="form-control" 
                       type="search" 
                       placeholder="Search" 
                       aria-label="Search">
                       
                <button (click)="shared(share.value)" class="btn" type="submit"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </div>
</nav>

