
<div class="container mt-2">
    <h1>Playlist</h1>
    <hr>
    <ul class="list-group-item"
        cdkDropList
        [cdkDropListData]="playlist"
        (cdkDropListDropped)="onDrop($event)">
        <li class="card m-2" *ngFor="let video of playlist" cdkDrag>
            <img [src]="video.snippet.thumbnails.high.url"
                class="card-img-top" alt="...">
            <div class="p-1">
                <p class="title card-title">{{video.snippet.title}}</p>
            </div>
        </li>
    </ul>
    <div class="d-grid gap-2 col-12 mx-auto">
        <button class="btn btn-danger btn-sm"><i class="fas fa-play"></i></button>
    </div>
</div>

