.cursor{
    cursor: pointer;
}

.title{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    overflow: hidden;
}

.title:active{
    display: block;
}

.list-container{
    height: 100vh;
}

.card{
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.box:active{
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.show{
    display: none;
}

.back{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
  min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.back-white{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    border-radius: 5px;
    padding: 3% 2% 3%;
    color: #212529;
    background-color: white;
}


.scroll-container {
    max-height: 400px;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.scroll-containerResults {
    max-height: 500px;
    overflow-y: auto;
    scroll-behavior: smooth;
}

@media (max-width: 810px){
    .chageWidth{
        width: 100% !important;
    }
}


